<template>
  <button>
    <slot />
  </button>
</template>
<style scoped>
button {
  padding: 0.5rem 1rem;
  display: flex;
  align-items: center;
  border: 2px solid var(--primary-border-color);
  background: var(--sl-color-amber-400);
  height: 2.5rem;
  font-weight: bold;
  cursor: pointer;
  color: var(--primary-text-color);
  font-size: 1rem;
}

button:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

button:hover {
  background: var(--sl-color-amber-500);
}

button:active {
  background: var(--sl-color-amber-300);
}
</style>
