<template>
  <Transition>
    <UiButtonPrimary
      v-show="scrollY > 100"
      class="scroll-top-button"
      @click="scrollToTop"
    >
      <IconArrowUp />
      <span class="visually-hidden">Scroll to top</span>
    </UiButtonPrimary>
  </Transition>
</template>
<script setup lang="ts">
import { useWindowScroll } from "@vueuse/core";

const { y: scrollY } = useWindowScroll();

function scrollToTop() {
  window.scrollTo({
    top: 0,
    behavior: "smooth",
  });
}
</script>
<style scoped>
.scroll-top-button {
  display: grid;
  place-items: center;
  position: fixed;
  bottom: 2rem;
  right: 2rem;
  height: 4rem;
  width: 4rem;
  font-size: 2rem;
  padding: 0;
  border-radius: 50%;
  border-width: 4px;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.7);
}

.v-enter-active,
.v-leave-active {
  transition: opacity 0.1s ease, transform 0.1s ease-in;
}

.v-enter-from,
.v-leave-to {
  opacity: 0;
  transform: scale(0.1);
}
</style>
