<template>
  <button>
    <span class="prefix">
      <slot name="prefix" />
    </span>
    <span>
      <slot />
    </span>
  </button>
</template>
<style scoped>
button {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  border: 2px solid var(--primary-border-color);
  background-color: transparent;
  height: 2.5rem;
  font-weight: bold;
  cursor: pointer;
  padding: 1rem;
  border-radius: 2.5rem;
  line-height: 0.5rem;
  color: var(--primary-text-color);
  font-size: 1rem;
}

button:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

button:hover {
  background-color: var(--sl-color-amber-400);
}

button:active {
  background-color: var(--sl-color-amber-300);
}

.prefix {
  color: var(--sl-color-neutral-700);
}

.prefix {
  font-size: 1.1rem;
}
</style>
