<template>
  <div>
    <UiSpinner v-if="pending || !data" />
    <UiCard v-else>
      <template #image>
        <img :src="data.image.original" alt="" />
      </template>
      <template #header>
        <h1>{{ data.name }}</h1>
        <sl-rating
          :value="data.rating?.average / 2"
          label="Rating"
          :disabled="!data.rating"
          readonly
        />
        <section class="stats">
          <div>
            <span>{{ data.rating?.average ?? "?" }} / 10</span>
          </div>
          <div>
            <IconClock /><span>{{ data.runtime }} min</span>
          </div>
        </section>
        <section>
          <div class="running-status" v-if="data.premiered">
            <sl-format-date :date="data.premiered" /> -
            <sl-format-date v-if="data.ended" :date="data.ended" />
            <span v-else>Present</span>
          </div>
          <div v-else class="running-status">
            <span>{{ data.status }}</span>
          </div>
        </section>
      </template>
      <div v-if="data.summary" class="summary" v-html="data.summary" />
      <div v-else class="summary">
        <p>No summary available.</p>
      </div>
      <template #footer>
        <div class="footer">
          <ul class="genres-tags">
            <li v-for="genre in data.genres" :key="genre">
              <UiLinkTag :to="`/#${genre}-genre`">
                {{ genre }}
              </UiLinkTag>
            </li>
          </ul>
          <sl-tooltip content="See on IMDb">
            <a
              :href="`https://www.imdb.com/title/${data.externals.imdb}`"
              rel="noreferrer"
            >
              <IconImdb />
            </a>
          </sl-tooltip>
        </div>
      </template>
    </UiCard>
  </div>
</template>
<script setup lang="ts">
const route = useRoute();
const id = () => Number(route.params.id);
const { data, pending } = useShow(id);
useHead({
  title: `${data.value?.name} | Generic TV`,
});
</script>
<style scoped>
h1 {
  font-size: 2rem;
}

.summary {
  max-width: 30rem;
}

h1 {
  margin: 0.5rem 0;
}

.stats {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  font-size: 0.8rem;
}

.stats div {
  display: flex;
  align-items: center;
  gap: 0.1rem;
  height: 1.2rem;
}

.running-status {
  margin-top: 0.5rem;
  opacity: 0.7;
  font-size: 0.8rem;
}

.genres-tags {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  padding: 0;
  margin: 0;
}

.genres-tags > li {
  margin: 0.2rem;
  display: flex;
}

.footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
</style>
