<template>
  <NuxtLink :to="`/shows/${id}`" :id="htmlId">
    <sl-tooltip :content="title">
      <div class="container">
        <img v-if="image" class="preview-image" :src="image" :alt="title" />
        <section v-else class="preview-section">
          <h2>{{ title }}</h2>
        </section>
      </div>
    </sl-tooltip>
  </NuxtLink>
</template>
<script setup lang="ts">
import { nanoid } from "nanoid";

defineProps({
  id: Number,
  title: String,
  image: String,
});

const htmlId = ref("");

onMounted(() => {
  htmlId.value = nanoid();
});
</script>
<style scoped>
.container {
  display: flex;
  min-width: 6em;
  max-height: 10rem;
  overflow: hidden;
  border: 4px solid var(--primary-border-color);
  transition: transform 0.1s ease-in-out, box-shadow 0.1s ease-in-out;
  aspect-ratio: 2 / 3;
}

@media screen and (min-width: 768px) {
  .container {
    min-width: 8rem;
    max-height: 12rem;
  }
}

@media (hover: hover) {
  .container:hover {
    transform: scale(1.1) translate(-10px, 0px);
    box-shadow: 10px 0 20px 0 rgba(0, 0, 0, 0.7);
  }
}

h2 {
  margin: 1rem 0.5rem;
}

.preview-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.preview-section h2 {
  display: block;
}

.preview-section {
  width: 100%;
  overflow: hidden;
  margin: 0;
}
</style>
