<template>
  <section
    :id="`${name}-genre`"
    v-for="(name, index) in names"
    :key="name"
    class="genre-list"
    :default-visible="index <= 3"
  >
    <header class="genre-name">
      <h2 :id="`genre-title-${name}`">{{ name }}</h2>
    </header>
    <ShowList :aria-labelledby="`genre-title-${name}`" :shows="genres[name]" />
  </section>
</template>
<script setup lang="ts">
import type { Genres } from "~/composables/api";

const props = defineProps<{
  genres: Genres;
}>();

const names = computed(() => Object.keys(props.genres));
</script>
<style scoped>
.genre-name {
  --label-skew: 40deg;
  background-color: var(--sl-color-amber-400);
  margin-top: 2rem;
  padding: 0.5rem;
  padding-right: 2rem;
  padding-left: 3rem;
  margin-left: -1.5rem;
  border-top: 4px solid var(--primary-border-color);
  border-right: 6px solid var(--primary-border-color);
  transform: skew(var(--label-skew));
}

.genre-name h2 {
  font-size: 1.2rem;
  transform: skew(calc(-1 * var(--label-skew)));
}

.genre-list {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  min-height: 16em;
}

.genre-list:last-child {
  margin-bottom: 2rem;
}

@media screen and (min-width: 768px) {
  .genre-list {
    min-height: 20em;
  }

  .genre-name h2 {
    font-size: 1.5rem;
  }
}
</style>
