<template>
  <div
    class="show-list"
    tabindex="0"
    role="listbox"
    :aria-activedescendant="selectedElement?.id"
    ref="scrollContainer"
    @keydown="handleNavigation"
  >
    <ShowMiniature
      v-for="(show, index) in shows"
      :key="show.id"
      role="option"
      tabindex="-1"
      :aria-selected="selectedIndex === index"
      class="miniature"
      :id="show.id"
      :title="show.name"
      :description="show.summary"
      :image="show.image?.medium"
      :url="`/shows/${show.id}`"
    />
  </div>
</template>
<script setup lang="ts">
import type { Show } from "~/composables/api";

const NAVIGATION_KEYS = [
  "ArrowLeft",
  "ArrowRight",
  "ArrowDown",
  "ArrowUp",
  "Home",
  "End",
  "Enter",
];

const props = defineProps<{
  shows: Show[];
}>();

const selectedIndex = ref(0);
const scrollContainer = ref<HTMLDivElement>();
const selectedElement = computed(() => {
  const options = scrollContainer.value?.querySelectorAll('[role="option"]');
  if (!options) return null;
  return Array.from(options)[selectedIndex.value] as HTMLElement;
});

async function handleNavigation(event: KeyboardEvent) {
  if (!NAVIGATION_KEYS.includes(event.key)) return;
  event.preventDefault();
  if (event.key === "ArrowLeft" || event.key === "ArrowUp") {
    const nextIndex = selectedIndex.value - 1;
    if (nextIndex < 0) {
      selectedIndex.value = props.shows.length - 1;
    } else {
      selectedIndex.value = nextIndex;
    }
  } else if (event.key === "ArrowRight" || event.key === "ArrowDown") {
    selectedIndex.value = (selectedIndex.value + 1) % props.shows.length;
  } else if (event.key === "Home") {
    selectedIndex.value = 0;
  } else if (event.key === "End") {
    selectedIndex.value = props.shows.length - 1;
  } else if (event.key === "Enter") {
    navigateTo(`/shows/${props.shows[selectedIndex.value].id}`);
  }
  await nextTick();
  const selected = selectedElement.value;
  if (selected && !isInViewport(selected))
    selected?.scrollIntoView({ block: "nearest", inline: "center" });
}
</script>
<style scoped>
.show-list {
  display: flex;
  padding: 1rem;
  background-color: var(--sl-color-sky-800);
  border: 4px solid var(--primary-border-color);
  border-left: none;
  border-right: none;
  width: 100%;
  gap: 1rem;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  scroll-padding: 1rem;
}

.miniature {
  scroll-snap-align: start;
}

.show-list:focus [aria-selected="true"] {
  outline: 4px solid var(--sl-color-emerald-400);
}
</style>
