<template>
  <section class="card-container">
    <div class="image desktop-image">
      <slot name="image" />
    </div>
    <section class="card" v-element-size="onResize">
      <div class="image mobile-image">
        <slot name="image" />
      </div>
      <header>
        <slot name="header" />
      </header>
      <div class="body">
        <slot />
      </div>
      <footer>
        <slot name="footer" />
      </footer>
    </section>
  </section>
</template>
<script setup lang="ts">
import { vElementSize } from "@vueuse/components";

const imageHeight = ref("auto");

function onResize({ height }: { height: number }) {
  imageHeight.value = `${height}px`;
}
</script>
<style scoped>
.card-container {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  padding-top: 2rem;
  padding-bottom: 8rem;
}

.card {
  background-color: var(--sl-color-sky-50);
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  font-size: 1rem;
}

.card header {
  border: 4px solid var(--primary-border-color);
  border-bottom: none;
  padding: 0.5rem 1rem;
}

.card header {
  border-top: none;
}

.card footer {
  border: 4px solid var(--primary-border-color);
  border-top: none;
  padding: 0.5rem 1rem;
}

.card .body {
  padding: 0.5rem 1rem;
  border: 4px solid var(--primary-border-color);
  line-height: 1.2rem;
}

.desktop-image :deep(img) {
  display: none;
  height: v-bind(imageHeight);
  max-height: 40rem;
  object-fit: cover;
  max-width: 45vw;
}

.mobile-image :deep(img) {
  display: flex;
  width: 100%;
  height: 100%;
  max-height: 25rem;
  object-fit: cover;
}

@media screen and (min-width: 768px) {
  .card {
    max-width: 45vw;
  }

  .card header {
    border-top: 4px solid var(--primary-border-color);
  }

  .card .body {
    line-height: 1.5rem;
    min-height: 25rem;
  }

  .mobile-image :deep(img) {
    display: none;
  }

  .desktop-image :deep(img) {
    display: flex;
  }
}
</style>
