<template>
  <dialog
    ref="dialog"
    inert
    @click="closeOnBackdropClick"
    @close="handleDialogClose"
  >
    <div class="container">
      <header v-if="$slots.header">
        <slot name="header" />
      </header>
      <div class="content">
        <slot />
      </div>
    </div>
  </dialog>
</template>
<script setup lang="ts">
const dialog = ref<HTMLDialogElement>();
const opener = ref<HTMLElement>();
const isLocked = useBodyScrollLock();

function closeOnEscape(event: KeyboardEvent) {
  if (event.key === "Escape") close();
}

function closeOnBackdropClick(event: Event) {
  if (event.target === dialog.value) {
    close();
  }
}

function close() {
  dialog.value?.close();
}

function open(event?: Event) {
  // It has to be done imperatively in order to be able to focus
  // the dialog's input on open in iOS Safari
  dialog.value?.removeAttribute("inert");
  if (event?.type === "click") {
    event.preventDefault();
    opener.value = event.currentTarget as HTMLElement;
  } else {
    opener.value = document.activeElement as HTMLElement;
  }
  isLocked.value = true;
  document.addEventListener("keydown", closeOnEscape);
  dialog.value?.showModal();
}

function handleDialogClose() {
  dialog.value?.setAttribute("inert", "");
  document.removeEventListener("keydown", closeOnEscape);
  isLocked.value = false;
  opener.value?.focus();
}

defineExpose({
  open,
  close,
  dialog,
});
</script>
<style scoped>
dialog {
  padding: 0;
}

dialog {
  display: block;
  position: fixed;
  inset: 0;
  margin: auto;
  padding: 0;
  background-color: var(--sl-color-emerald-50);
  border: 4px solid var(--primary-border-color);
  transition: opacity 0.1s;
  z-index: 1000;
}

dialog:not([open]) {
  opacity: 0;
  pointer-events: none;
}

dialog::backdrop {
  background-color: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(2px);
}
</style>
