<template>
  <UiDialog class="drawer" ref="drawer" id="side-drawer">
    <header>
      <h2>Genres</h2>
      <form method="dialog">
        <button>
          <span class="visually-hidden">Close</span>
          <IconClose />
        </button>
      </form>
    </header>
    <nav>
      <ul>
        <li v-for="name in names" :key="name">
          <NuxtLink :to="`/#${name}-genre`" @click="drawer?.close()">{{
            name
          }}</NuxtLink>
        </li>
      </ul>
    </nav>
  </UiDialog>
</template>
<script setup lang="ts">
import { UiDialog } from "#components";

defineProps<{
  names: string[];
}>();

const drawer = ref<InstanceType<typeof UiDialog>>();

defineExpose({
  show: () => {
    drawer.value?.open();
    drawer.value?.dialog?.scrollTo({ top: 0 });
  },
  hide: () => drawer.value?.close(),
});
</script>
<style scoped>
h2 {
  font-size: 1.5rem;
}

.drawer ul {
  list-style: none;
  padding: 0;
  margin: 2rem 0;
  display: flex;
  flex-direction: column;
}

.drawer a {
  padding: 0.5rem 1rem;
  width: 100%;
  display: block;
}

.drawer a:hover,
.drawer a:focus-visible {
  background-color: var(--sl-color-emerald-200);
  color: var(--primary-text-color);
  font-weight: 700;
}

.drawer {
  top: 0;
  bottom: 0;
  right: 0;
  margin: 0;
  margin-right: auto;
  min-height: 100dvh;
  width: 20rem;
  max-width: 100vw;
  padding: 0;
  background-color: var(--sl-color-emerald-50);
  transform: translateX(0);
  transition: opacity 0.2s;
}

.drawer header {
  display: flex;
  padding: 1rem;
  align-items: center;
  justify-content: space-between;
  font-family: "Audiowide", sans-serif;
  background-color: var(--sl-color-amber-400);
  border-bottom: 4px solid var(--primary-border-color);
  font-weight: 700;
}

.drawer header button {
  display: grid;
  place-items: center;
  font-size: 2rem;
  border: none;
  background-color: transparent;
  cursor: pointer;
  height: 2.5rem;
  width: 2.5rem;
  border-radius: 50%;
}

.drawer header button:hover {
  background-color: var(--sl-color-amber-500);
}

.drawer header button:active {
  background-color: var(--sl-color-amber-300);
}

@media (prefers-reduced-motion: no-preference) {
  .drawer {
    transition: transform 0.2s ease-in-out, opacity 0.4s;
  }

  .drawer:not([open]) {
    transform: translateX(-100%);
  }
}
</style>
