<template>
  <NuxtLink :to="to" class="link">
    <slot />
  </NuxtLink>
</template>
<script setup lang="ts">
defineProps<{
  to: string;
}>();
</script>
<style scoped>
.link {
  color: var(--primary-text-color);
  text-decoration: none;
  border: 2px solid var(--primary-border-color);
  background-color: var(--sl-color-amber-400);
  font-size: 0.8rem;
  border-radius: 1rem;
  padding: 0.2rem 0.5rem;
}

.link:hover {
  background-color: var(--sl-color-amber-500);
}

.link:active {
  background-color: var(--sl-color-amber-300);
}
</style>
