<template>
  <div class="spinner">
    <sl-spinner style="font-size: 70px; --track-width: 10px"></sl-spinner>
  </div>
</template>
<style scoped>
.spinner {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60vh;
}
</style>
