:root {
  --primary-text-color: #333;
  --primary-border-color: #000;
}
body {
  font-family: "Chivo", sans-serif;
  margin: 0;
  padding: 0;
  color: var(--primary-text-color);
  background-color: var(--sl-color-emerald-600);
}

* {
  box-sizing: border-box;
}

*:focus-visible {
  outline: 4px solid var(--sl-color-emerald-500);
  outline-offset: 2px;
}

a {
  text-decoration: none;
  color: var(--primary-text-color);
}

button {
  color: var(--primary-text-color);
}

a:hover {
  color: #555;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Audiowide", sans-serif;
  margin: 0;
  padding: 0;
}

main {
  margin: 0 auto;
  max-width: 1440px;
  border: 4px solid var(--primary-border-color);
  background-color: var(--sl-color-emerald-50);
  min-height: 100vh;
  overflow: hidden;
}

sl-spinner {
  --indicator-color: var(--sl-color-emerald-400);
}

.page-enter-active,
.page-leave-active {
  transition: opacity 0.1s;
}
.page-enter-from,
.page-leave-to {
  opacity: 0;
}

.visually-hidden {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}
