<template>
  <div class="container">
    <div class="input-container" @click="input?.focus()">
      <IconSearch />
      <input
        :name="name"
        :required="required"
        type="search"
        autocomplete="off"
        ref="input"
        placeholder="Search"
        aria-label="Search"
      />
    </div>
    <span class="helper-text desktop">
      <small><kbd>↲</kbd> Search</small>
      <small><kbd>Esc</kbd> Close</small>
    </span>
    <span class="helper-text mobile">
      <small>Tap outside to close</small>
    </span>
  </div>
</template>
<script setup lang="ts">
defineProps<{ name: string; required?: boolean }>();

const input = ref<HTMLInputElement>();

defineExpose({
  focus: () => input.value?.focus(),
  clear: () => {
    const inputEl = input.value;
    if (!inputEl) return;
    inputEl.value = "";
  },
});
</script>
<style scoped>
.input-container {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  margin-bottom: 0.8rem;
  padding: 0.5rem;
  background-color: white;
  border: 2px solid var(--primary-border-color);
  border-right: none;
  height: 2.5rem;
  transition: outline 0.1s ease-in-out;
  color: var(--primary-text-color);
  cursor: text;
}

.input-container input {
  border: none;
  background-color: transparent;
  font-size: 1rem;
  width: 100%;
}

.input-container input::-webkit-search-decoration {
  -webkit-appearance: none;
}

.input-container input:focus {
  outline: none;
}

.input-container:focus-within {
  outline: 4px solid var(--sl-color-emerald-400);
}

.container kbd {
  background-color: var(--sl-color-neutral-100);
  border: 1px solid var(--sl-color-neutral-300);
  padding: 0 0.5rem;
}

.helper-text {
  display: flex;
  margin-top: 0.5rem;
  justify-content: space-evenly;
  font-size: 0.8rem;
  color: var(--sl-color-gray-700);
}

.desktop {
  display: none;
}

.helper-text svg {
  height: 1rem;
  width: 1rem;
  margin-right: 0.5rem;
}

@media screen and (min-width: 768px) {
  .desktop {
    display: flex;
  }

  .mobile {
    display: none;
  }
}
</style>
