<template>
  <UiButtonOutline @click="openDialog" :disabled="disabled">
    <template #prefix>
      <IconSearch />
    </template>
    Search
  </UiButtonOutline>
  <UiDialog
    ref="dialog"
    class="dialog"
    @close="searchInput?.clear()"
    id="search-dialog"
  >
    <form @submit.prevent="search" method="dialog" action="/search">
      <div class="search-input">
        <SearchInput ref="searchInput" required name="q" />
        <UiButtonPrimary type="submit">Search</UiButtonPrimary>
      </div>
    </form>
  </UiDialog>
</template>
<script setup lang="ts">
import { SearchInput, UiDialog } from "#components";

defineProps<{
  disabled?: boolean;
}>();

const searchInput = ref<InstanceType<typeof SearchInput>>();
const dialog = ref<InstanceType<typeof UiDialog>>();

function search(event: Event) {
  const form = event.target as HTMLFormElement;
  const formData = new FormData(form);
  const query = formData.get("q") as string;
  navigateTo(`/search?q=${query}`);
  dialog.value?.close();
  searchInput.value?.clear();
}

function openDialog(event: Event) {
  dialog.value?.open(event);
  searchInput.value?.focus();
}

function handleSearchShortcut(e: KeyboardEvent) {
  if (
    (e.key === "k" && e.metaKey) ||
    (e.key === "k" && e.ctrlKey) ||
    e.key === "/"
  ) {
    e.preventDefault();
    document.querySelectorAll("dialog").forEach((dialog) => dialog.close());
    dialog.value?.open();
  }
}

onMounted(() => {
  document.addEventListener("keydown", handleSearchShortcut);
});
</script>
<style scoped>
.search-input {
  display: flex;
  align-items: flex-start;
}

.dialog {
  margin-top: 2rem;
  transition: opacity 0.2s;
}

@media screen and (min-width: 768px) {
  .dialog {
    margin-top: auto;
  }
}

@media (prefers-reduced-motion: no-preference) {
  .dialog {
    transition: transform 0.2s ease-in-out, opacity 0.4s;
  }

  .dialog:not([open]) {
    transform: scale(0.1);
  }
}

form[method="dialog"] {
  padding: 1rem;
}
</style>
