<template>
  <header class="top-header">
    <div class="header-logo">
      <UiButtonPrimary
        class="menu-button"
        @click="drawer?.show()"
        :disabled="!isMounted"
      >
        <IconMenu />
        <span class="visually-hidden">Menu</span>
      </UiButtonPrimary>
      <NuxtLink to="/">
        <span class="page-title" id="page-title">G<span>eneric </span>TV</span>
        <div class="search-info" v-if="route.query.q">
          <span>Search for:</span>
          <span class="search-query">{{ " " + route.query.q }}</span>
        </div>
      </NuxtLink>
    </div>
    <SearchButton :disabled="!isMounted" />
  </header>
  <slot />
  <UiDrawer ref="drawer" :names="genreNames" />
  <UiButtonScrollTop />
</template>
<script setup lang="ts">
import { UiDrawer } from "#components";

useHead({
  htmlAttrs: {
    lang: "en",
  },
});

const page = useState("currentPage", () => 0);
const route = useRoute();
const { data: genres } = useGenres(
  page,
  () => route.query.q as string | undefined
);
const genreNames = computed(() => Object.keys(genres.value ?? {}));
const isMounted = ref(false);
const drawer = ref<typeof UiDrawer>();

onMounted(() => {
  isMounted.value = true;
});
</script>
<style scoped>
.top-header {
  display: flex;
  padding: 2rem 1rem;
  padding-bottom: 0;
  gap: 1rem;
  align-items: center;
  justify-content: space-between;
}

.header-logo {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.menu-button {
  font-size: 1.5rem;
  padding: 0;
  border-radius: 50%;
  height: 3.5rem;
  width: 3.5rem;
  display: grid;
  place-items: center;
  border-width: 4px;
}

.search-info {
  color: var(--sl-color-gray-500);
}

.search-query {
  font-weight: 700;
  font-style: italic;
  color: var(--sl-color-gray-600);
}

.page-title {
  font-size: 2rem;
  font-family: "Audiowide", sans-serif;
}

.page-title span {
  display: none;
}

@media screen and (min-width: 768px) {
  .page-title span {
    display: inline;
  }
}
</style>
