<template>
  <div>
    <UiSpinner v-if="pending || !genres" />
    <ShowGenresList v-else :genres="genres" />
  </div>
</template>
<script setup lang="ts">
useHead({
  title: "Generic TV",
});
const page = useState<number>("currentPage");
const route = useRoute();
const { data: genres, pending } = useGenres(
  page,
  () => route.query.q as string
);
</script>
