<template>
  <div>
    <UiSpinner v-if="pending || !data" />
    <div v-else class="search-result">
      <ShowMiniature
        v-for="show in data"
        :key="show.id"
        :content="show.name"
        class="miniature"
        :title="show.name"
        :image="show.image?.medium"
        :id="show.id"
      />
    </div>
  </div>
</template>
<script setup lang="ts">
useHead({
  title: "Search | Generic TV",
});
const route = useRoute();
if (!route.query.q) navigateTo("/");
const { data, pending } = useSearch(() => route.query.q as string);
</script>
<style scoped>
.search-result {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(6rem, 1fr));
  gap: 1rem;
  padding: 2rem 1rem;
}

@media screen and (min-width: 768px) {
  .search-result {
    grid-template-columns: repeat(auto-fill, minmax(8rem, 1fr));
  }
}
</style>
