<template>
  <svg
    aria-hidden="true"
    fill="none"
    stroke="currentColor"
    stroke-width="2"
    viewBox="0 0 24 24"
    xmlns="http://www.w3.org/2000/svg"
  >
    <path
      d="M21 21l-5.197-5.197m0 0A7.5 7.5 0 105.196 5.196a7.5 7.5 0 0010.607 10.607z"
      stroke-linecap="round"
      stroke-linejoin="round"
    ></path>
  </svg>
</template>
<style scoped>
svg {
  width: 1em;
  height: 1em;
}
</style>
