<template>
  <svg
    aria-hidden="true"
    fill="none"
    stroke="currentColor"
    stroke-width="2"
    viewBox="0 0 24 24"
    xmlns="http://www.w3.org/2000/svg"
  >
    <path
      d="M12 19.5v-15m0 0l-6.75 6.75M12 4.5l6.75 6.75"
      stroke-linecap="round"
      stroke-linejoin="round"
    ></path>
  </svg>
</template>
<style scoped>
svg {
  height: 1em;
  width: 1em;
}
</style>
